{% extends 'base.html' %}

{% load bootstrap4 %}

{% load static %}
{% load mathfilters %}

{% block content %}
  <h1>DETAIL</h1>
  <a href="{% url 'eithers:index' %}">BACK</a>
  <hr>
  <h1>{{ article.title }}</h1>
  <div class="d-flex justify-content-between">
    <span style="color:rgb(209,61,68);">{{article.issue_a}}</span>
    <span style="color:rgb(53,103,178);">{{article.issue_b}}</span>
  </div>
  <div class="d-flex justify-content-between">
  <img src="{% static 'red_glove.png' %}" alt="red" style="width:{% widthratio article.issue_a_vote article.issue_a_vote|add:article.issue_b_vote 50 %}vw; display: inline;">
  <img src="{% static 'blue_glove.png' %}" alt="blue" style="width:{% widthratio article.issue_b_vote article.issue_a_vote|add:article.issue_b_vote 50 %}vw; display: inline;">
  </div>
  <hr>
  <h1>댓글 작성</h1>
  <form action="{% url 'eithers:detail' article.pk %}" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    <input type="submit" value="제출">
  </form>
  <hr>
  <h1>댓글 목록</h1>
  {% for comment in comments %}
    {% if comment.pick == "rgb(248,215,218)" %}
      <p class="p-2" style="background:{{ comment.pick }}; color:rgb(149,61,68);">{{comment.content}}</p>
    {% else %}
      <p class="p-2" style="background:{{ comment.pick }}; color:rgb(53,103,178);">{{comment.content}}</p>
    {% endif %}
    <hr>
  {% endfor %}
{% endblock content %}